baseURL = 'https://example.org/'
languageCode = 'en-us'
title = 'Arshad Siddiqui'
theme = 'hugo-book'

[markup]
  [markup.goldmark.renderer]
    unsafe = true

  [markup.goldmark.extensions]
    [markup.goldmark.extensions.passthrough]
      enable = true

    [markup.goldmark.extensions.passthrough.delimiters]
      block = [['\\[', '\\]'], ['$$', '$$']]
      inline = [['\\(', '\\)'], ['$', '$']]

[caches]
  [caches.images]
    dir = ':cacheDir/images'
